.hk_home {
  height: 100vh;
  background-color: #fff;
  position: relative;

  .hk_swiper {
    .am-wingblank,.am-wingblank-lg{
      width: 100%;
      margin: 0;
    }
  }

  .hk_navbar {
    display: flex;
    background-color: white;
    padding: 10px;

    .hk_nav_item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      text-align: center;

      .item_wrrapper {
        img {
          width: 48px;
          margin: auto;
        }

        p {
          margin: 0;
          margin-top: 7px;
          font-size: 13/360*100vw;
        }

      }
    }
  }
}
.hk_team{
  background-color: #ccc;
}
.hk_news{
  padding:10px 10px 0px;
  .hk_news_item{
    padding: 15px 0px;
    border-bottom: 1px solid #ccc;
    display: flex;
    .hk_news_img{
      width: 120px;
      height: 90px;
      img{
        width: 100%;
      }
    }
    .hk_news_info{
      flex: 1;
      padding: 0px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .hk_news_item_top{
        font-weight: 600;
      }
      .hk_news_item_bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #ccc;
      }
    }
  }
}